.vue-tut {
  .tutorial-highlighter {
    // Matches the color theme
    background: #2d2d2d;
    color: #ccc;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px 5px 5px 0;
  }

  .prism-editor-wrapper .prism-editor__container {
    overflow-x: auto;
  }

  .prism-editor__textarea:focus {
    outline: none;
  }

  .prism-editor__editor {
    white-space: pre;
  }

  .prism-editor-wrapper .prism-editor__line-numbers {
    margin-right: 20px;
  }

  .prism-editor-wrapper .prism-editor__line-number {
    border-left: 5px solid transparent;
    padding-left: 10px;
  }

  .prism-editor-wrapper .prism-editor__line-number.highlight-line {
    border-left: 5px solid gray;
    background: rgba(128, 128, 128, 0.384);
  }

  .prism-editor-wrapper .prism-editor__line-number.highlight-line:after {
    content: '';
    height: 21px;
    background: rgba(128, 128, 128, 0.384);
    position: absolute;
    max-width: 920px;
    width: calc(50vw + 8.33333%) !important;
  }
}