main.vue-tut {
  @media all and (max-device-width: 980px) {
    .prism-editor-wrapper {
      .token {
        font-size: 0.5rem !important;
      }
    }
  }

  @media all and (max-width: 980px) {
    .tutorial-header {
      padding: 15px;
      margin-bottom: 5px;

      > h1.m-s-sm {
        margin-bottom: 5px;
      }

      > h2.m-s-xl {
        margin-bottom: 15px;
      }
    }

    .sections .tutorial-section {
      margin: 15px;
    }

    .step {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .steps {
      padding-top: 0;
    }

    .steps > .step-contents {
      width: 100%;
      margin: 0;
    }

    .step-contents .step-aside {
      display: block;

      aside {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      pre {
        white-space: pre;
      }

      .highlight-line:after {
        width: calc(100vw - 62px) !important;
      }
    }

    .step-assets {
      display: none;
    }

    .step-wrapper {
      padding-bottom: 70px;
    }

    .step-wrapper:first-child .step {
      margin-top: 40px;
    }
  }
}
