.vue-tut {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: left;

  .tutorial-header {
    padding: 50px;

    h1 {
      font-size: 22px;
    }

    h2 {
      font-size: 32px;
    }

    p {
      line-height: 1.4;
    }
  }

  // On desktop, we hide the asides in the contents
  .step-contents .step-aside {
    display: none;
  }
}
