.vue-tut {
  > header {
    background-color: #000;
    color: #fff;

    > p {
      font-size: 17px;
    }

    > h1, > h2 {
      letter-spacing: 0.6px;
      font-weight: 400;
    }
  }

  .step {
    border-radius: 10px;
  }

  .step p {
    font-size: 15px;
  }

  .sections > section > header > h1 {
    font-weight: 400;
  }

  .sections > section > header > h2 {
    font-weight: 400;
  }

  .prism-editor-wrapper .prism-editor__line-number.highlight-line {
    border-left: 5px solid #0173fe;
    background: #0173fe38;
  }

  .prism-editor-wrapper .prism-editor__line-number.highlight-line:after {
    background: #0173fe38;
  }

  .step-intersected .step {
    border-left: 10px solid #0173fe;
  }
}
